{% extends "layout.html.twig" %}
{% block contenu %}
	<div class="row">
		{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}

		{% endif %}

		<table>
			<caption> Votre panier </caption>
			<thead>
			<tr><th>nom</th></th><th>prix</th><th>dateAjoutPanier<th>quantite</th></th>
				{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
					<th>opération</th>
				{% endif %}
			</tr>
			</thead>
			<tbody>
			{% for panier in data if data is not empty %}

				<tr>
					<td>{{panier.nom}}</td><td>{{panier.prix}}</td><td>{{panier.dateAjoutPanier}}</td><td>{{panier.quantite}}</td><td>}
					</td>
					{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
						<td>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
			<tbody>
		</table>
	</div>
{% endblock %}

