{% extends "layout.html.twig" %}
{% block contenu %}
<form method="post" action="{{ path('jeux.validFormDelete') }}">
<div class="row">
	
	<fieldset>
		<legend>Confirmer la suppression du jeux suivant : </legend>
		<input name="id"  type="hidden" value="{{donnees.id}}" />
		<label>Nom : <h5>{{donnees.nom}}</h5> </label>
		<input type="hidden" id="_method" name="_method" value="delete" />

		<input type="submit" name="supprimerJeux" value="Supprimer" />
	</fieldset>	
</div>
</form>
{% endblock %}
